{% load static %}
<!DOCTYPE html>

<link rel="stylesheet" href="{% static 'style-about.css' %}">
<div class="blog-card spring-fever">
    <div class="title-content">
        <h3>SAP</h3>
        <hr />
        <div class="intro">Sistema de Administración de Personas</div>
    </div><!-- /.title-content -->
    <div class="card-info">
        Es una aplicación web de estilo CRUD en el que se podrá manejar el registro, edición y eliminación de la información de distintas personas
        <button onclick=goBack() class="close">Volver</button>
    </div><!-- /.card-info -->
    <!-- overlays -->
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
</div><!-- /.blog-card -->
<script>
    function goBack() {
        window.history.back();
    }
</script>
